	<!-- fonts -->
<body>
	<section id="header">
	    {% if page.header %}
	      {{ page.header }}
	    {% endif %}
		<nav class="navbar navbar-inverse">
		    <div class="container">
				<div class="navbar-header site_name">
				{% if page.logo %}
				     {{ page.logo }} 
				{% endif %}
				</div>
				<div class="right-menu">
				    <div class="navbar-header icon">
					     <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
						    <span class="icon-bar"></span>
							<span class="icon-bar"></span>                        
						</button>				     
					</div>
						{% if left_header_details %}
					<div class="col-md-6 col-sm-6 mail">
						<p><i class="fa fa-phone" aria-hidden="true"></i>
						<span>{{ left_header_phone }}</span></p>

						<p><i class="fa fa-envelope" aria-hidden="true"></i>
						<span>{{left_header_email}}</span></p>
					</div>
					{% endif %}

					{% if show_social_icon %}
					<div class="col-md-2 col-sm-3 social-iocns">
					{% if facebook_url %}
						<a href = "{{ facebook_url }}" ><i class="fa fa-facebook-f"></i></a>
					{% endif %}
					{% if twitter_url %}
						<a href = "{{ twitter_url }}" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
					{% endif %}
					{% if instagram_url %}
						<a href = "{{ instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					{% endif %}
					</div>
					{% endif %}
					<div class="collapse navbar-collapse" id="myNavbar">
					{% if page.main_navigation %}   
          {{ page.main_navigation }}
					{% endif %}
					   
					</div>
				</div>			    
		    </div>
		</nav>
	</section>
{% if crt_path %}
{% if slideshow_display %}
	<section>
		<div class="top_slider">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
	          <!-- Indicators -->
	          <ol class="carousel-indicators">
            {% set i = 0 %}
						 {% for key, option in slide %}
	            <li data-target="#myCarousel" data-slide-to="{{ i }}" class="{% if loop.first %} active {% endif %}"></li>
            {% set i = i + 1 %}
							{% endfor %}
	          </ol>

	          <!-- Wrapper for slides -->
	          <div class="carousel-inner">
           {% for key, option in slide %}
	            <div class="item {% if loop.first %} active {% endif %}" >
	              <img src="{{ option.image_path}}" alt="Chicago" style="width:100%;">
	                <div class="carousel-caption">
									{% if option.slide_des %}
	                	<h2>{{ option.slide_des }}</h2>
                  {% endif %}											  
									{% if option.slide_url_text_1 %}
						<div class="button">
	                		<a href= "{% if option.slide_url_1 %}{{ option.slide_url_1 }}{% endif %}">
										  	

											  {{ option.slide_url_text_1 }}
											  </a>
	                	</div>{% endif %}
	                </div>	                
	            </div>

	        {% endfor %}

	          <!-- Left and right controls -->
	          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	            <span class="glyphicon glyphicon-chevron-left"></span>
	            <span class="sr-only">Previous</span>
	          </a>
	          <a class="right carousel-control" href="#myCarousel" data-slide="next">
	            <span class="glyphicon glyphicon-chevron-right"></span>
	            <span class="sr-only">Next</span>
	          </a>
	      </div>
		</div>
	</section>
	{% endif %}
	{% endif %}
	{% if page.content %}
    <div class="container">{{ page.content }}</div>
  {% endif %}
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 footer-logo">
				{% if page.footer_logo %}
					{{ page.footer_logo }}
				{% endif %}
				</div>
				<div class="col-md-9 col-sm-9">					
					<div class="col-md-6 col-sm-6">
				 {% if page.footer_first %}
					{{ page.footer_first }}
					{% endif %}
					
					</div>
					<div class="col-md-6 col-sm-6">
					{% if page.footer_second %}
					  {{ page.footer_second }}
					 {% endif %}
						
					</div>
				</div>	
			</div>
		</div>
	</section>
	
{% if show_copyright %}
  <div class="copy_rights">
    <p>&#174; {{ footer_copyright }}</p>
  </div>
{% endif %}

</body>
	<script type='text/javascript' src='js/jquery-3.1.1.min.js'></script>
    <script type='text/javascript' src='js/bootstrap.min.js'></script>

</html>
