@import 'css/font-awesome.css';
@font-face {
  font-family: 'Raleway-Regular';
  src: url('fonts/Raleway-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url('fonts/Raleway-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('fonts/Raleway-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('fonts/Raleway-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Minion Italic';
  src: url('fonts/Minion Italic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('fonts/MyriadPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('fonts/MyriadPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad-Pro-Italic';
  src: url('fonts/Myriad-Pro-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}
button.red {
  border: 1px solid #ec3030;
  border-radius: 10px;
  width: 180px;
  font-size: 22.22px;
  font-family: 'MyriadPro-Regular';
  color: #fff;
  background-color: #ec3030;
  padding: 6px 0;
}
.head-title {
  background-color: #d2e9ff;
  padding: 72px 10px;
  border-top: 4px solid#b0becf;
}
.head-title h1.title-bg-color {
  font-size: 55.56px;
  font-family: 'MyriadPro-Regular';
  padding-bottom: 4px;
  background-color: #d2e9ff;
  position: relative;
  text-align: center;
  border-bottom: 2px solid #ec3030;
  display: table;
  margin: 0 auto;
}
h2 {
  font-size: 30.56px;
}
p {
  font-size: 27.78px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway-Regular';
}
.row {
  margin: 0;
}
a,
a:hover {
  text-decoration: none;
  list-style: none;
}
.padd00 {
  padding: 0;
}
#header .navbar-inverse {
  background-color: #ec3030;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
}
#header .navbar-inverse .right-menu {
  width: 80%;
  float: right;
}
#header .navbar-inverse .mail {
  padding: 20px 0;
}
#header .navbar-inverse .mail p {
  display: inline-block;
  margin: 0;
  margin-left: 25px;
  font-size: 16px;
}
#header .navbar-inverse .mail p span {
  font-size: 13.89px;
  padding-left: 5px;
}
#header .navbar-inverse #myNavbar {
  padding: 0;
}
#header .navbar-inverse .navbar-header.site_name {
  width: 20%;
  float: left;
}
.site_name a {
  color: #fff;
}
#header .navbar-inverse .navbar-header.site_name .navbar-brand {
  height: auto;
  padding: 10px 15px;
  background-color: #fff;
}
#header .navbar-inverse .navbar-header.site_name .navbar-brand img {
  width: 180px;
  height: 117px;
}
#header .navbar-inverse .social-iocns {
  text-align: right;
  float: right;
  padding: 15px 0;
}
#header .navbar-inverse .social-iocns .fa {
  border: 1px solid#363896;
  border-radius: 50%;
  padding: 8px;
  background-color: #363896;
}
#header .navbar-inverse .social-iocns .fa.fa-facebook-f {
  padding: 8px 12px !important;
}
#header .navbar-inverse .header-menu {
  margin-top: 27px;
  width: 100%;
}
@media (max-width: 1199px) {
  #header .navbar-inverse .header-menu {
    margin-top: 35px;
  }
}
@media (max-width: 767px) { 
  #header .navbar-inverse .social-iocns .fa.fa-facebook-f {
    padding: 5px 8px !important;
    margin: 0 2px;
  }
  #header .navbar-inverse .social-iocns .fa {
    padding: 5px;
    margin: 0 2px;
  }
}
#header .navbar-inverse .header-menu li a {
  color: #fff;
  font-size: 19.44px;
  font-family: 'Raleway-Medium';
  background-color: transparent;
  padding: 14px 18.9px;
}
@media (max-width: 1199px) {
  #header .navbar-inverse .header-menu li a {
    font-size: 17px;
    padding: 10px 11.5px;
  }
}
#header .navbar-inverse .header-menu li:last-child {
  border: 1px solid#fff;
  margin-top: 8px;
}
@media (max-width: 1199px) {
  #header .navbar-inverse .header-menu li:last-child {
    margin-top: 3px;
  }
}
#header .navbar-inverse .header-menu li:last-child a {
  padding: 6px 18px;
}
#header .navbar-inverse .header-menu li.active {
  background-color: #761818;
}
@media (max-width: 991px) {
  #header .navbar-inverse .header-menu {
    width: auto;
    position: relative;
  }
}
@media (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  #header .navbar-inverse #myNavbar {
    padding: 0 15px 20px;
    position: absolute;
    z-index: 11;
    width: 100%;
    background-color: #ec3030;
    top: 100%;
    left: 0;
  }
  #header .navbar-inverse .mail p {
    display: block;
  }
  #header .navbar-inverse .navbar-header.site_name .navbar-brand img {
    width: 110px;
    height: auto;
  }
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important;
  }
  @media(max-width:767px) {
    .navbar-inverse .navbar-toggle {
      margin: 0;
    }
    #header .navbar-inverse .mail,
    #header .navbar-inverse .social-iocns {
      padding: 0;
    }
    #header .navbar-inverse .mail p {
      margin: 0;
    }
    #header .navbar-inverse .mail p span {
      font-size: 12px;
    }
    #header .navbar-inverse .navbar-header.site_name {
      width: 23%;
      float: left;
    }
  }
  .navbar-header.icon {
    float: none;
    order: 3;
  }
  #header .navbar-inverse .right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .navbar-inverse .navbar-header.site_name .navbar-brand {
    margin-left: 0;
  }
  #header .container {
    width: 100%;
  }
  .navbar-nav > li,
  #header .menu {
    float: none!important;
  }
  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    border-top-color: transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  #header .header-menu {
    width: 100%;
    padding: 0;
  }
  .site_name .navbar-brand {
    padding: 15px 40px;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #fff;
  }
}
.top_slider .carousel-control.left {
  background-image: none;
  opacity: 1;
}
.top_slider .carousel-control.right {
  background-image: none;
  opacity: 1;
}
.top_slider .carousel-control {
  width: 5%;
}
.top_slider .carousel-indicators {
  bottom: 0;
}
.top_slider .carousel-indicators li {
  background: #934a67;
  border-color: #934a67;
}
.top_slider .carousel-indicators .active {
  background-color: #ec3030;
  border-color: #ec3030;
}
.top_slider .carousel-caption {
  right: 0%;
  left: 6%;
  padding-bottom: 30px;
  top: 30%;
  width: 95%;
  float: left;
  text-align: left;
}
.top_slider .carousel-caption h2 {
  font-size: 47.2px;
  font-family: 'Raleway-Italic';
  width: 60%;
  float: left;
}
@media(max-width:1199px) {
  .top_slider .carousel-caption h2 {
    font-size: 34px;
  }
  .top_slider .carousel-caption {
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    bottom: auto;
  }
}
@media(max-width:767px) {
  .top_slider .carousel-caption h2 {
    font-size: 18px;
    width: 100%;
    text-align: center;
    float: none;
  }
  .top_slider .carousel-caption {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.top_slider .carousel-caption .button a {
  float: left;
  border: 0px solid;
  border-radius: 50px;
  padding: 10px 30px;
  background-color: #ec3030;
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-top: 65px;
  margin-left: 35px;
  text-decoration: none;
}
@media(max-width:991px) {
  .top_slider .carousel-caption .button a {
    width: auto;
    font-size: 20.33px;
  }
}
@media(max-width:767px) {
  .top_slider .carousel-caption .button a {
    width: auto;
    font-size: 16px;
    margin: 20px auto 0;
    display: table;
    float: none;
  }
  .top_slider .item img{
    height: 300px !important;
    object-fit: cover;
  }
}
#about-sec {
  padding: 60px 10px;
}
#about-sec .bg-color {
  background-color: #d2e9ff;
  display: flex;
  flex-wrap: wrap;
}
#about-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about-sec .about-text {
  padding: 35px 35px 0px;
}
#about-sec .about-text p {
  font-size: 25px;
  font-family: 'Raleway-Medium';
}
#about-sec .about-text a {
  font-size: 24.53px;
  font-family: 'Raleway-Medium';
  color: #ec3030;
  float: right;
}
#bg-color-sec {
  background-image: url('../images/Layer-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f9f9;
  height: 403px;
  padding: 30px 15px;
}
#bg-color-sec h2 {
  font-size: 38.89px;
  font-family: 'Raleway-Medium';
}
#bg-color-sec p {
  font-size: 33.33px;
  margin-top: 25px;
  font-family: 'Raleway-Light';
}
.category-sec {
  margin-top: -100px;
  text-align: center;
}
@media(max-width:767px) {
  .category-sec img {
    margin: 0 auto;
  }
  #deal-sec-bg-color .col-md-6 {
    padding: 0;
  }
  #deal-sec-bg-color .col-xs-4 {
    padding-right: 0;
  }
  #deal-sec-bg-color h3 {
    margin-top: 0;
  }
  #deal-sec-bg-color a {
    margin-bottom: 30px;
    display: table;
  }
}
.category-sec h2 {
  position: absolute;
  top: 55px;
  width: 100%;
  font-size: 33.33px;
  font-family: 'Raleway-Medium';
  color: #fff;
}
#deal-sec-bg-color {
  background-color: #d2e9ff;
  padding: 60px 0;
  margin-top: 50px;
}
#deal-sec-bg-color h3 {
  font-size: 27.78px;
}
#deal-sec-bg-color p {
  font-size: 21.48px;
  font-family: 'Raleway-Light';
}
#deal-sec-bg-color a {
  font-size: 27.78px;
  color: #ec3030;
}
@media(max-width: 767px) {
   #deal-sec-bg-color p {
    font-size: 16px;
  }
  #deal-sec-bg-color h3,
  #deal-sec-bg-color a {
    font-size: 22px;
  }
}
#deal-sec-bg-color .more_btn a {
  border: 2px solid #ec3030;
  border-radius: 50px;
  width: 230px;
  font-size: 33.33px;
  color: #000;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.sponsors-sec {
  padding: 60px 10px;
}
.sponsors-sec img {
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 42px;
}
.sponsors-sec fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #ec3030;
}
.sponsors-sec legend {
  font-size: 36.11px;
  font-family: 'Raleway-Medium';
  width: 30%;
  border-bottom: 0;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
}
@media (max-width: 991px) {
  .sponsors-sec legend {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .sponsors-sec legend {
    width: 80%;
  }
}
.sponsors-sec legend:before {
  content: "\f0da";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  top: 0;
  left: 0;
  color: #ec3030;
}
.sponsors-sec legend:after {
  content: "\f0d9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  top: 0;
  right: 0;
  color: #ec3030;
}
#footer {
  background-color: #d2e9ff;
  padding: 50px 10px;
}
#footer ul.menu {
  list-style: none;
  padding: 0;
}
#footer ul.menu li {
  position: relative;
  padding-left: 15px;
}
#footer ul.menu li a {
  font-size: 25px;
  font-family: 'Raleway-Medium';
  color: #000;
}
#footer ul.menu li:after {
  content: "\f0da";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  top: 0;
  left: 0;
  color: #ec3030;
  font-size: 25px;
}
#footer ul.menu button {
  border: 1px solid #ec3030;
  border-radius: 50px;
  background-color: #ec3030;
  width: 215px;
  display: block;
  text-align: center;
  padding: 2px;
  margin-top: 20px;
  font-size: 25px;
  font-family: 'Raleway-Medium';
}
#footer ul.menu button a {
  color: #fff;
}
.copy_rights {
  background-color: #ec3030;
  padding: 12px 0;
}
.copy_rights p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: 'Raleway-Light';
}
.deal-update h2 {
  font-size: 38.89px;
  font-family: 'Raleway-Medium';
  margin: 0;
}
.deal-update p,
.deal-update span {
  font-size: 22.22px;
  font-family: 'Raleway-Medium';
  display: block;
}
.deal-update img {
  margin-bottom: 10px;
}
.deal-update button {
  border: 2px solid #ec3030;
  border-radius: 50px;
  font-size: 25.13px;
  width: 160px;
  background-color: transparent;
  display: inline-block;
  float: right;
  margin-top: 45px;
}
.deal-update button a {
  color: #fff;
}
.deal-update .dealer-name {
  display: inline-block;
}
.deal-update .deal-1,
.deal-update .deal-3 {
  background-image: url('images/Blue_background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
  color: #fff;
  padding: 70px 10px;
}
.deal-update .deal-2 {
  background-image: url('images/Blue_back_other.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
  color: #fff;
  padding: 70px 10px;
}
.others-deal {
  padding: 10px 10px 50px;
}
.others-deal h1 {
  font-size: 44.44px;
  font-family: 'Raleway-Medium';
  text-align: center;
  background-image: url('images/Buyers_frameh1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 175px;
  color: #fff;
  vertical-align: middle;
  padding: 62px 0;
  margin: 0;
}
.others-deal img {
  padding: 35px 15px;
}
.sponsor-outline form {
  padding: 102px 10px;
  width: 92%;
  margin: 0 auto;
}
.sponsor-outline form h2 {
  font-family: 'Minion Italic';
  font-weight: 700;
}
.sponsor-outline form p {
  font-family: 'MyriadPro-Regular';
}
.sponsor-outline form .form-group {
  display: block;
  margin-bottom: 20px;
}
.sponsor-outline form .form-group label {
  width: 22%;
  font-size: 25px;
  font-family: 'Minion Italic';
  font-weight: normal;
}
.sponsor-outline form .form-group input {
  height: 50px;
}
.sponsor-outline form .form-group input,
.sponsor-outline form .form-group textarea {
  width: 75%;
  border: 0px;
  border-radius: 0;
  background-color: #acacac;
  padding: 6px 12px;
}
.contact-info {
  margin-top: 100px;
  margin-bottom: 75px;
}
@media (max-width: 1199px) {
  .contact-info {
    width: 100%;
  }
}
.contact-info h1 {
  font-size: 50px;
  font-family: 'MyriadPro-Regular';
  color: #f31419;
}
.contact-info h2 {
  font-family: 'MyriadPro-Bold';
  color: #000;
  margin-top: 0;
}
.contact-info span {
  font-size: 27.78px;
  font-family: 'Myriad-Pro-Italic';
  margin-bottom: 6px;
  display: block;
}
.contact-info p {
  font-family: 'Minion Italic';
}
.contact-info button.red {
  margin: 0 auto;
  display: block;
}
.contact-info .social-links {
  text-align: center;
  width: 200px;
}
.contact-info .info-title {
  margin-bottom: 60px;
}
.contact-info .form p {
  margin-bottom: 60px;
}
.contact-info .form input,
.contact-info .form textarea {
  background-color: #acacac;
  border-radius: 0;
  font-size: 25px;
  font-family: 'Minion Italic';
  width: 100%;
  border: 0px;
  padding: 6px 10px;
  height: 50px;
}
.contact-info .form textarea {
  height: auto;
}
.contact-info .form ::placeholder {
  color: #000;
  opacity: 1;
}
.privacy-policy {
  padding-top: 50px;
  padding-bottom: 45px;
}
.privacy-policy h2 {
  font-family: 'MyriadPro-Bold';
}
#request-bg-img {
  background-image: url('images/Reports-50.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 90px 10px 65px;
}
#request-bg-img h2 {
  margin-bottom: 60px;
  font-family: 'Raleway-Medium';
}
#request-bg-img p {
  font-family: 'Raleway-Light';
  width: 610px;
  margin: 0 auto;
  margin-bottom: 75px;
}
#request-bg-img button.red {
  width: 310px;
  padding: 8px 8px;
  margin-right: 15px;
  border-radius: 50px;
  font-family: 'Raleway-Regular';
}
#valuations-bg-img {
  background-image: url('images/health-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 55px 10px 60px;
}
#valuations-bg-img h2 {
  font-size: 33.33px;
  font-family: 'Raleway-SemiBold';
  margin-bottom: 40px;
}
#valuations-bg-img p {
  font-size: 22.22px;
  font-family: 'Raleway-Medium';
  margin-bottom: 60px;
  text-align: justify;
  padding: 0 58px;
}
#laptop-bg-img {
  background-image: url('images/Y2WC301.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 70px 10px;
}
#laptop-bg-img h1 a {
  color: #fff;
  border: 1px solid#ec3030;
  border-radius: 20px;
  font-size: 44.44px;
  padding: 6px 15px;
  letter-spacing: -1px;
  display: table;
  margin: 0 auto;
}
#map-sec {
  margin-bottom: 50px;
}
#map-sec h2 {
  font-family: 'MyriadPro-Bold';
}
#map-sec p {
  font-family: 'MyriadPro-Regular';
}
#graphs-bg-img {
  background-image: url('images/Reports-50.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
#graphs-bg-img .block-bg-color {
  background-color: rgba(13, 0, 76, 0.3);
  margin: 50px 0;
}
#graphs-bg-img h2 {
  font-size: 55.56px;
  font-family: 'MyriadPro-Regular';
}
#graphs-bg-img p {
  font-family: 'MyriadPro-Bold';
  padding-top: 32px;
}
#graphs-bg-img span {
  font-size: 27.78px;
  font-family: 'MyriadPro-Regular';
  display: block;
  margin-top: 35px;
  margin-bottom: 70px;
}
#graphs-bg-img button.red {
  margin-bottom: 70px;
}
.site_name a img {
  width: 100%;
}
.footer-logo a img {
  width: 100%;
}

@media (min-width:768px) {
  

.navbar-collapse.collapse {
 display: none!important;
  height: auto!important;
  padding-bottom: 0;
  overflow: visible!important;
  visibility: visible!important;
}
}

input,
select,
textarea {
  max-width: 100%;
}
